<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Address Book:</h1>

        <h3>Current Entries: </h3>
        <form action="/contact_form">
            <button type="submit">Enter a new address</button>
        </form>
    </body>
</html>
