<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact Entry</title>
    </head>
    <body>
        <form action='/new_contact' method='post'>
            <h1>Please enter your contact's information below:</h1>
            <label for='name'>Name: </label>
            <input id='name' name='name' type='text'>

            <label for='phone'>Phone: </label>
            <input id='phone' name='phone' type='text'><br>

            <label>Address: </label><br>
            <label for='address-street'>Street: </label>
            <input id='address-street' name='address-street' type='text'>

            <label for='address-city'>City: </label>
            <input id='address-city' name='address-city' type='text'>

            <label for='address-state'>Phone: </label>
            <input id='address-state' name='address-state' type='text'>
            <button type='submit'>View your entry</button>
        </form>
    </body>
</html>
