<html>
    <head>
        <meta charset="utf-8">
        <title>Contacts deleted</title>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="js/jquery-3.1.1.js"></script>
        <script src="js/scripts.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
    </head>
    <body>
        <div id="clear-address" class="container-fluid">
            <div class="col-xs-12">
                <h1>Address book cleared.</h1>
                <form action="/" method="get">
                    <button class="btn">Return home</button>
                </form>
            </div>
        </div>
    </body>
</html>
