<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Contacts deleted</title>
    </head>
    <body>
        <h1>Address book cleared.</h1>
        <form action="/" method="get">
            <button>Return home</button>
        </form>
    </body>
</html>
