/*general styles*/

body {
  font-family: 'Special Elite', cursive;
  color: #3B3735;
  background-image: url("/../img/body-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
  padding-left: 5%;
}

button {
  color: white;
  background-color: #3B3735;
  font-family: 'Special Elite', cursive;
}

/*contact-form styles(homepage)*/

#home-header {
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: #3B3735;
  letter-spacing: 5;
  font-size: 60px;
  padding-top:5%;
}

#new-contact-form h4 {
  margin-top: 3%;
}

.contact-div {
  display: inline-block;
  width: 45%;
}

.new-entry {
  width: auto;
  display: inline-block;
}

/*addresses styles (new contact page)*/

#address-review {
  padding-left: 40%;
  padding-top: 15%;
}

/*delete contact page styles*/

#clear-address {
  text-align: center;
  margin-top: 20%;
}
